In [3]:
import pandas as pd

In [4]:
population = pd.read_csv('/Users/garethhughes/Desktop/Ironhack/Week_Two/Project-Week-2-Barcelona/datasets/3.-Population/population.csv')

In [5]:
population.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [10]:
population.tail()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
70075,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
70076,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
70077,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
70078,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
70079,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

In [16]:
len(population)

70080

In [17]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 8 columns):
Year                 70080 non-null int64
District.Code        70080 non-null int64
District.Name        70080 non-null object
Neighborhood.Code    70080 non-null int64
Neighborhood.Name    70080 non-null object
Gender               70080 non-null object
Age                  70080 non-null object
Number               70080 non-null int64
dtypes: int64(4), object(4)
memory usage: 4.3+ MB

In [18]:
population.describe()

               Year  District.Code  Neighborhood.Code        Number
count  70080.000000   70080.000000       70080.000000  70080.000000
mean    2015.000000       6.246575          37.000000    114.844720
std        1.414224       2.788356          21.071458     96.540389
min     2013.000000       1.000000           1.000000      0.000000
25%     2014.000000       4.000000          19.000000     43.000000
50%     2015.000000       7.000000          37.000000     92.000000
75%     2016.000000       8.000000          55.000000    162.000000
max     2017.000000      10.000000          73.000000    777.000000

In [15]:
year_age_number = population.groupby(['Year','Age'],as_index=False).sum().drop(columns = ['District.Code','Neighborhood.Code'])

In [20]:
year_age_number.set_index('Year',inplace=True)

In [21]:
year_age_number.head()

        Age  Number
Year
2013    0-4   69267
2013  10-14   62566
2013  15-19   63540
2013  20-24   78485
2013  25-29  110563

In [42]:
year_age_number['Number_PCT'] = year_age_number.Number.pct_change(periods = 1)
year_age_number.head()

        Age  Number  Number_PCT
Year
2013    0-4   69267         NaN
2013  10-14   62566   -0.096742
2013  15-19   63540    0.015568
2013  20-24   78485    0.235206
2013  25-29  110563    0.408715

In [71]:
year_age_number.groupby(['Age'])['Number_PCT'].max()

Age
0-4      15.208186
10-14    -0.012090
15-19     0.015568
20-24     0.235206
25-29     0.408715
30-34     0.253861
35-39     0.108077
40-44    -0.007565
45-49    -0.062600
5-9      -0.413529
50-54     0.630971
55-59    -0.086194
60-64    -0.048630
65-69     0.001018
70-74    -0.101584
75-79     0.067019
80-84    -0.005155
85-89    -0.308092
90-94    -0.537729
>=95     -0.715240
Name: Number_PCT, dtype: float64

In [72]:
year_age_number.groupby(['Age'])['Number_PCT'].min()

Age
0-4      12.571825
10-14    -0.096742
15-19    -0.024003
20-24     0.198551
25-29     0.334160
30-34     0.148973
35-39     0.031288
40-44    -0.121430
45-49    -0.113996
5-9      -0.425946
50-54     0.579481
55-59    -0.108458
60-64    -0.124427
65-69    -0.054363
70-74    -0.235721
75-79    -0.226307
80-84    -0.152103
85-89    -0.363376
90-94    -0.593586
>=95     -0.729765
Name: Number_PCT, dtype: float64